# dependencies
node_modules/
app/node_modules/
modules/*/node_modules/

# Expo
app/.expo/
app/dist/
app/web-build/
app/expo-env.d.ts

# Native
app/.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
app/.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders (EAS managed)
app/ios
app/android

# EAS secrets
